<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/mainMobil.css">
    <link rel="stylesheet" href="css/mainDesktop.css">
    <link rel="stylesheet" href="css/mainTablet.css">
    <!-- Icons fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    <%- include('./partials/header') %>      

        <div class="main-banner">
            <img class="category-img" src="images/banners/banner-home.jpg" >
        </div>

    <%- include('./partials/categories')%> 

    <%- include('./partials/ofertas') %> 
    
    <%- include('./partials/destacados') %>

    <%- include('./partials/nuevos') %>

    <div style="height:150px;"></div>

    <%- include('./partials/footer') %> 


</body>
</html>