<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>
    <%- include('../../partials/styles-and-fonts') %> 
    <%- include('../partials/style') %> 
</head>
<body>
    <%- include('../partials/header') %> 

    <div class="main-container">
        
    <%- include('../partials/verticalMenu') %> 
   
    <div class="form-container add-shadow-1">
        <form action="/admin/products/create" method="POST">
            <label for="name">Nombre del producto:</label><br>
            <input type="text" name="name"><br>
            <label for="price">Precio:</label><br>
            <input type="text" name="price">
            <select name="variant">
                <% variantTypes.forEach(variant => { %> 
                <option value=<%= variant.id %>> <%= variant.name %> </option>
                <% }) %> 
            </select>
            <br>
            <label for="description">Descripción:</label><br>
            <input type="text" id="descr">
            <label for="image">Imágen:</label>
            <input type="text" placeholder="URL" name="image">
            <label for="category">Categoría</label>
            <select name="category">
                <% categories.forEach(category =>{ %> 
                <option value="<%= category.id %>"> <%= category.name %> </option>
                <% } ) %> 
            </select><br>
            <div class="btn-container">
                <input type="submit" value="Aceptar">
                <input type="button" onclick="history.back()" value="Cancelar">
            </div>
        </form>
    </div>
    </div>
    
    <div style="height: 200px;"></div>
</body>
</html>