<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>
    <%- include('../../partials/styles-and-fonts') %> 
    <%- include('../partials/style') %> 
</head>
<body>
    <%- include('../partials/header') %> 

    <div class="main-container">
        
        <%- include('../partials/verticalMenu') %> 
   
    <div class="form-container add-shadow-1">
        <form action="/admin/products/<%= product.id %>/edit " method="POST">
            <span>ID: <%= product.id %> </span><br>
            <br>
            <label for="name">Nombre del producto:</label><br>
            <input type="text" style="width: 50%;" name="name" value="<%= product.name %>"><br>
            <label for="price">Precio:</label><br>
            <% for(let variant of product.variants){ %> 
            <input type="text"  style="width: 10%;text-align: right;" name="price" value="<%= variant.price %>"
                    data-variantId=<%= variant.id %> >
            <span>$ - <%= variant.name %> </span><br>
            <% } %> 
            <label for="description">Descripción:</label><br>
            <input type="text" id="descr">
            <label for="image">Imágen:</label>
            <input type="text" style="width: 50%;" name="img" value="<%= product.image %> ">
            <a target="_blank" href="<%= product.image %>">ver</a>
            <div class="btn-container"> 
                <input type="submit" value="Aceptar">
                <a href="javascript:history.back()">cancelar</a>
            </div>
        </form>
    </div>
    </div>
    
    <div style="height: 200px;"></div>
</body>
</html>