<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= categoryTitle.name %> </title>
    <%- include('../partials/styles-and-fonts') %> 

</head>
<body>
    <%- include('../partials/header') %>
    
    <h1 id="category" data-id=<%= categoryTitle.id%> ><%= categoryTitle.name %> </h1>
    
        <div style="text-align: right;margin: 0.5rem 0.8rem;" >
            <select name="limit" id="ver" value="8" class="add-shadow">
                <option value="8">Ver</option>
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="50">48</option>
            </select>
        </div>

        <div id="productsContainer" class="products-container">  
        </div>

    <!-- pagination button -->
    <div class=pages>
        <!-- <input id="actualPage" type="number" min="1" onchange="loadData(this.value,limit)"> -->
        <span id="actPage"></span>
        <span>de</span>
        <span id='totalPages'></span>
    </div>
    <div class="pagination">
        <a id="previous" onclick="previousPage()" style="font-size: 0.8rem;">< Anterior</a>
        <a id="next" onclick="nextPage()" style="font-size: 0.8rem;">Siguiete ></a>
    </div>



    <script>
        //get querystring params to define pagination
        let params = new URLSearchParams(location.search) // => '?page=n1&limit=n2';
        let page = params.get('page') || 1;
        let limit = params.get('limit') || 8;
        // le id de la categoria esta en el dataset del elemento h1
        let category = document.getElementById('category').dataset.id;
        let totalPages;

        //boton de ver por paginas
        let verBtn = document.getElementById('ver')
        verBtn.addEventListener('change',function(){
            limit = this.value
            page=1
            loadData(page,limit)
        })

        //input de paginado
        let actualPageInput = document.getElementById('actualPage')
        let actPageSpan = document.getElementById('actPage')
        let totalPagesSpan = document.getElementById('totalPages')

        //cambiar paginado desde input 
        // actualPageInput.addEventListener('change',function(pageValue){
        //     loadData(pageValue,limit)
        // })
        window.onload={
        }
            loadData(page,limit)
            let productsContainer = document.getElementById('productsContainer')

        function loadData(page,limit){
            fetch(`http://${location.host}/api/v1/products?page=${page}&limit=${limit}&cat=${category}`)
                .then(data => data.json())
                .then(products => {
                    cleanProductcontainer();
                    for(let product of products.list){
                        addProductCard(product.id,product.name,product.image,product.variants[0].price)
                    }
                    addPaginationDetail(products.total)
                })
        }

        function cleanProductcontainer(){
            productsContainer.innerHTML=''
        }

        function addProductCard(id,name,image,price){
            productsContainer.innerHTML +=
            `<a class="to-product" href="/products/${id}">
                <div class="product-container add-shadow-1">
                    <div class="image-product"><img class="photo-product" src="${image}"></div>
                    <div class="price-product">$${price} </div>
                    <div class="desc-product">${name.length>25?name.slice(0,25):name} </div>
                    <a href="#" onclick="goTo(${id})" class="btn"><i class="fas fa-cart-arrow-down"></i> Comprar </a>
            </div>
            </a>`
        }

        //esta funcion carga los datos del paginado siguinte
        function nextPage(){
            if(page<totalPages){ //si no es la ultima pagina, carga la siguiente
                page++
                loadData(page,limit)
            }else{ //si es la ultima pagina, carga la primera
                page=1
                loadData(page,limit)
            }
        }

        //esta funcion carga el paginado anterior
        function previousPage(){
            if(page>1){
                page--;
                loadData(page,limit)
            }
        }

        //esta funcion agrega informacion del paginado en la vista
        function addPaginationDetail(totalProducts){
            actPage.innerText = page
            totalPages = Math.ceil(totalProducts/verBtn.value);
            totalPagesSpan.innerText = totalPages
            
        }

        //esta funcion redirecciona a '/products/:id'
        function goTo(id){
            window.location.href='/products/'+id
        } 

   </script>

</body>
</html>