<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Saludable</title>

    <%- include('../partials/styles-and-fonts') %> 
    <link rel="stylesheet" href="/css/prdDetail.css">
    
    <!-- Icons fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    <%- include('../partials/header') %> 

    <div style="margin-bottom:1rem;"></div>
    <div class="desc-container add-shadow">
        <img id="image" class="prd-photo" src="<%= product.image %> ">
        <div class="prd-details">
            <span id="productid" style="display: none;"><%= product.id %></span>
            <div id="name" class="prd-name"><%= product.name %> </div>
            <div id="price" class="prd-price">$<%= variants.length>0?variants[0].price:100 %> </div>
            <!-- <div class="qty">
                <input type="number" name="qty" placeholder="1" required>
            </div> -->
                <span>Presentación</span>
                <select name="variant" id="variants">
                    <% variants.forEach(variant => { %> 
                    <option value=<%= variant.price %> data-id=<%= variant.id %> >
                        <%= variant.name %> </option>
                    <% }) %> 
                </select>
                <span id="variantId" style="display:none;"><%= variants[0].id %> </span>

                <span>Cantidad</span>
                <!-- <div style="display: inline; font-size: 2rem;">                
                    <i class="far fa-minus-square" style="color: rgb(33, 160, 16);"></i>  
                    <span> 128 </span>  <i style="color: rgb(33, 160, 16);" class="far fa-plus-square"></i>
                </div>  -->
                    <input id="cantidad" style="margin-bottom: 1rem;" type="number" min="1" value="1">


            <a href="#" id="add" class="add-shadow"><i class="fas fa-shopping-cart"></i> Agregar al carrito</a>


        </div>
    </div>
    
    <%- include('../partials/footer') %> 
    
    <script>
        let price = document.getElementById('price')
        let variants = document.getElementById('variants')
        variants.addEventListener('change',function(e){
            console.log(e)
            price.innerText = '$'+variants.value
            })
        

        //Carrito
        let productId = document.getElementById('productid')
        let q = document.getElementById('cantidad')
        let v = document.getElementById('variants')
        
        let addToCartBtn = document.getElementById('add')    
        addToCartBtn.addEventListener('click',function(){
            let product = {
                id:productId.innerText,
                qty:q.value,
                variant:v.value
            }
            console.log(product)
            if(!(localStorage.getItem('cart'))){ //si no hay un carrito
                console.log('no hay cart')
                let products = [product]
                window.localStorage.setItem('cart',JSON.stringify(products))
            }else{ //si ya hay items en el carrito
                let products = JSON.parse(window.localStorage.getItem('cart'))
                products.push(product)
                window.localStorage.setItem('cart',JSON.stringify(products))
            }
            window.location.href='/users/cart'
        })
    </script>

</body>
</html>
